.card.bg-primary, .card .card-header-primary .card-icon, .card .card-header-primary .card-text, .card .card-header-primary:not(.card-header-icon):not(.card-header-text), .card.card-rotate.bg-primary .back, .card.card-rotate.bg-primary .front {
    background: linear-gradient(60deg,#f66b0dcf
    ,#f66b0d);
}
span.glyphicon{
    color: #f66b0d!important;
}
th>a,td>a{
    color: #f66b0d!important;
}
ul.breadcrumb>li>a{
    color: #f66b0d!important;
}

.sidebar .nav li.active>a, .sidebar .nav li.active>a i {
    color: #fff!important;
}
.sidebar .nav li > a, .off-canvas-sidebar .nav li > a {
    margin: 10px 15px;
    border-radius: 3px;
    color: #3C4858!important;
}
.dropdown-menu .dropdown-item, .dropdown-menu li>a {

    color: #333!important;

}
.dropdown-menu .dropdown-item:focus, .dropdown-menu .dropdown-item:hover, .dropdown-menu a:active, .dropdown-menu a:focus, .dropdown-menu a:hover {
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(156,39,176,.4);
    background-color: #f66b0d!important;
    color: #fff!important;
}
.btn.btn-success, .btn.btn-success:hover, .btn.btn-success:focus, .btn.btn-success:active, .btn.btn-success.active, .btn.btn-success:active:focus, .btn.btn-success:active:hover, .btn.btn-success.active:focus, .btn.btn-success.active:hover, .open > .btn.btn-success.dropdown-toggle, .open > .btn.btn-success.dropdown-toggle:focus, .open > .btn.btn-success.dropdown-toggle:hover, .navbar .navbar-nav > li > a.btn.btn-success, .navbar .navbar-nav > li > a.btn.btn-success:hover, .navbar .navbar-nav > li > a.btn.btn-success:focus, .navbar .navbar-nav > li > a.btn.btn-success:active, .navbar .navbar-nav > li > a.btn.btn-success.active, .navbar .navbar-nav > li > a.btn.btn-success:active:focus, .navbar .navbar-nav > li > a.btn.btn-success:active:hover, .navbar .navbar-nav > li > a.btn.btn-success.active:focus, .navbar .navbar-nav > li > a.btn.btn-success.active:hover, .open > .navbar .navbar-nav > li > a.btn.btn-success.dropdown-toggle, .open > .navbar .navbar-nav > li > a.btn.btn-success.dropdown-toggle:focus, .open > .navbar .navbar-nav > li > a.btn.btn-success.dropdown-toggle:hover {

    color: #FFFFFF!important;
}
.btn.btn-primary, .btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active, .btn.btn-primary.active, .btn.btn-primary:active:focus, .btn.btn-primary:active:hover, .btn.btn-primary.active:focus, .btn.btn-primary.active:hover, .open > .btn.btn-primary.dropdown-toggle, .open > .btn.btn-primary.dropdown-toggle:focus, .open > .btn.btn-primary.dropdown-toggle:hover, .navbar .navbar-nav > li > a.btn.btn-primary, .navbar .navbar-nav > li > a.btn.btn-primary:hover, .navbar .navbar-nav > li > a.btn.btn-primary:focus, .navbar .navbar-nav > li > a.btn.btn-primary:active, .navbar .navbar-nav > li > a.btn.btn-primary.active, .navbar .navbar-nav > li > a.btn.btn-primary:active:focus, .navbar .navbar-nav > li > a.btn.btn-primary:active:hover, .navbar .navbar-nav > li > a.btn.btn-primary.active:focus, .navbar .navbar-nav > li > a.btn.btn-primary.active:hover, .open > .navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle, .open > .navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle:focus, .open > .navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle:hover {

    color: #FFFFFF!important;
}
.btn.btn-primary, .btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active, .btn.btn-primary.active, .btn.btn-primary:active:focus, .btn.btn-primary:active:hover, .btn.btn-primary.active:focus, .btn.btn-primary.active:hover, .open > .btn.btn-primary.dropdown-toggle, .open > .btn.btn-primary.dropdown-toggle:focus, .open > .btn.btn-primary.dropdown-toggle:hover, .navbar .navbar-nav > li > a.btn.btn-primary, .navbar .navbar-nav > li > a.btn.btn-primary:hover, .navbar .navbar-nav > li > a.btn.btn-primary:focus, .navbar .navbar-nav > li > a.btn.btn-primary:active, .navbar .navbar-nav > li > a.btn.btn-primary.active, .navbar .navbar-nav > li > a.btn.btn-primary:active:focus, .navbar .navbar-nav > li > a.btn.btn-primary:active:hover, .navbar .navbar-nav > li > a.btn.btn-primary.active:focus, .navbar .navbar-nav > li > a.btn.btn-primary.active:hover, .open > .navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle, .open > .navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle:focus, .open > .navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle:hover {
    background-color: #f66b0d!important;
    color: #FFFFFF;
}
.sidebar[data-color="purple"] .nav li.active > a, .off-canvas-sidebar[data-color="purple"] .nav li.active > a {
    background-color: #f66b0d!important;
    box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(156, 39, 176, 0.2);
}
.dropdown-menu .dropdown-item:focus, .dropdown-menu .dropdown-item:hover, .dropdown-menu a:active, .dropdown-menu a:focus, .dropdown-menu a:hover {
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(156,39,176,.4);
    background-color: #f66b0d;
    color: #fff;
}


h4{
    font-size: 2.3em!important;
}

.navbar .navbar-nav .nav-item .nav-link .fa, .navbar .navbar-nav .nav-item .nav-link .material-icons {
    font-size: 1.25rem;
    max-width: 24px;
    margin-top: -1.1em;
}
body{
    font-size: 14px!important;
}
.navbar-brand{
    font-size: 18px!important;
}
b{
    font-weight: bold;
}
.navbar .navbar-nav > li > a .material-icons, .navbar .navbar-nav > li > a .fa {
    font-size: 20px!important;
}

.dropdown-menu .dropdown-item, .dropdown-menu li>a {
    font-size: 14px!important;
}
.sidebar .nav li .dropdown-menu a, .sidebar .nav li a {
text-transform: unset;
}
.card {
     font-size: unset;
}
[hidden]{
    display: none!important;
}
.show{
    display: block!important;
}
.dropdown-importaciones {
    padding: 12px 15px!important;
}
.moveToLeft{
    margin-left: -150px!important;
}
.text-success, .text-danger {
    font-weight: bold;
}
.badge-inma-tab{
    top:2px;
    right: -2px;
    position: absolute;
    background:#a94442!important;
    color: #fff !important;
    font-weight: bold !important;
    padding: 4px 7px !important;
}

@font-face {
    font-family:Roboto-bold;
    src: url('/Roboto/Roboto-Bold.ttf');
}
@font-face {
    font-family:Roboto;
    src: url('/Roboto/Roboto-Regular.ttf');
}
.modal-backdrop{
    opacity: .26;
    z-index: 1;
}
select{
    -webkit-appearance: menulist!important;
    -moz-appearance: menulist!important;
}
.kv-fileinput-caption{
    width: 40%!important;
}
.input-group-append{
    width: 60%;
}
.fileinput-remove-button{
    max-width: 45%;
    margin-right: 2%!important;
}
